footer {
  display: flex;
  align-items: center;
  padding:32px;
  max-width: 1280px;
  margin-inline: auto;
  gap: 16px;
}

footer span{
  padding: 4px;
}
footer span:nth-child(2) {
  margin-left: auto;
}