header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  line-height: 0;
  padding:32px;

  background-color: var(--surfare-color);
}

#profile{
  display: flex;
  align-items: center;
  gap: 32px;
}

#profile img{
  height: 176px;
  width: 176px;
  object-fit: cover;
  border-radius: 50%;
  flex-shrink: 0;
}

#profile > div {
  flex-basis: 384px;
  margin: 4px 0px;
}

#profile h1{
  font: var(--text-lg);
  color: var(--text-color-primary);
  margin-bottom: 8px;
}

#profile p{
  font: var(--text-md);
  color: var(--text-color-secondary);
}

#info{
  flex-basis: 280px;
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  gap: 16px;
  
}

#info div{
  display: flex;
  align-items: center;
  gap: 8px;
}


#info p{
  font: var(--text-md);
  color: var(--text-color-secondary);
}