header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  line-height: 0;
  padding:32px;

  max-width: 1280px;
  margin-inline: auto;
}

#profile{
  display: flex;
  align-items: center;
  gap: 32px;
}

#profile img{
  flex-basis: 176px;
  object-fit: cover;
  border-radius: 50%;
}

#profile > div {
  flex-basis: 384px;
  margin: 4px 0px;
}

#profile h1{
  font: var(--text-lg);
  color: var(--text-color-primary);
  margin-bottom: 8px;
}

#profile p{
  font: var(--text-md);
  color: var(--text-color-secondary);
}

#info{
  flex-basis: 280px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  gap: 16px;
  
}

#info div{
  display: flex;
  align-items: center;
  gap: 8px;
}


#info p{
  font: var(--text-md);
  color: var(--text-color-secondary);
}