main {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline:32px ;
  margin-block: 24px;
  gap:24px;
}

main img{
  flex-shrink: 1;
  flex-grow: 0;

  flex-basis: 286px;
  width: 100%;
  height: auto;
  object-fit: cover;

  border-radius: 5%;
}