main {
  flex-flow: row wrap;
  justify-content: center;
  margin-block: 24px;
  gap:24px;
}

main img{
  flex-shrink: 1;
  flex-grow: 0;

  flex-basis: 286px;
  max-width: 286px;
  height: auto;
  object-fit: cover;

  border-radius: 5%;
}