.bold{
  font-weight: var(--fw-bold);
}

.flex{
  display: flex;
}

.grid{
  display: grid;
}

.items-center{
  align-items: center;
}

.gap-\.5{
  gap: .5rem;
}

.gap-1{
  gap: 1rem;
}

.gap-2{
  gap: 2rem;
}

.desktop-only{
  display: none;
}

@media (width >= 80em){
  .desktop-only{
    display: initial;
  }
}